<?xml version='1.0' encoding='utf-8'?>
<widget id="com.coolappz.camara_mobile_edo" version="0.0.18" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Câmara EDO</name>
    <description>

        Aplicativo de denúncia de invasão de areas públicas.

    </description>
    <author email="brunodacostamonteiro@gmail.com" href="http://webfans.com.br">

        Bruno da Costa Monteiro

    </author>
    <content src="index.html" />
    <access origin="*.google.com" subdomains="true" />
    <access origin="*.googleapis.com" subdomains="true" />
    <access origin="*.gstatic.com" subdomains="true" />
    <access origin="*.googleusercontent.com" subdomains="true" />
    <access origin="*" subdomains="true" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="tel:*" />
    <allow-navigation href="sms:*" />
    <allow-navigation href="mailto:*" />
    <allow-navigation href="geo:*" />
    <allow-navigation href="*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="ShowSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="5000" />
        <preference name="SplashScreenBackgroundColor" value="#FFF" />
        <preference name="StatusBarBackgroundColor" value="#346398" />
        <preference name="SplashShowOnlyFirstTime" value="true" />
        <preference name="FadeSplashScreen" value="false" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <platform name="browser">
        <preference name="ShowSplashScreen" value="true" />
        <preference name="SplashScreenDelay" value="6000" />
        <preference name="SplashScreenBackgroundColor" value="#FFF" />
        <preference name="FadeSplashScreen" value="false" />
    </platform>
    <hook src="scripts/incrementBuildNum.js" type="after_build" />
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
</widget>
