<div class="tela3">

    <div class="container-fluid ranking-deputados">
        <div class="row">
            <div class="col-xs-12 padding-vertical titulo-roxo">
                <h2><span>RANKING</span> DOS DEPUTADOS</h2> 
            </div>
        </div>
        <div class="row texto-explicativo padding-vertical fundo-cinza-claro">
            <div class="col-xs-12">
                <p>Esta tela demonstrará qual deputado(a) se parece mais com você. nosso APP irá comparar suas escolhas (MENU - SUA OPINIÃO) com os votos dos Deputados(as). </p>
            </div>
        </div>
        
        <div class="row fundo-preto filtro">
            <div class="col-xs-6">
                <p>ESTADO</p>
                <select name="ds_estado" id="ds_estado">
                    <option></option>
                </select>
            </div>
            <div class="col-xs-6">
                <p>PARTIDO</p>
                <select name="ds_partido" id="ds_partido">
                    <option></option>
                </select>
            </div>
        </div>
        
        <div class="row fundo-roxo">
            <div class="col-xs-4 padding-vertical titulo-roxo text-center">
                <p class="texto-branco">RANKING DEPUTADO</p>
            </div>
            <div class="col-xs-4 padding-vertical titulo-roxo text-center">
                <p class="texto-branco">DEPUTADO(A) FEDERAL</p>
            </div>
            <div class="col-xs-4 padding-vertical titulo-roxo text-center">
                <p class="texto-branco">VOTOS EQUIVALENTES</p>
            </div>
        </div>

        <div class="areaRanking"></div>

        <div class="contentCarregando carregandoGrafico1">
            <div class="carregando-pai">
                <div class="ico-carregando-1"><img src="./js/modules/mobileapp/layouts/imagens/icones/ico-carregando-1.svg" alt="Projeto Legislar"/></div>
                <div class="ico-carregando-2"><img src="./js/modules/mobileapp/layouts/imagens/icones/ico-carregando-2.svg" alt="Projeto Legislar"/></div>
                <div class="ico-carregando-3"><img src="./js/modules/mobileapp/layouts/imagens/icones/ico-carregando-3.svg" alt="Projeto Legislar"/></div>
                <div class="ico-carregando-4"><img src="./js/modules/mobileapp/layouts/imagens/icones/ico-carregando-4.svg" alt="Projeto Legislar"/></div>
            </div>
        </div>
        
    </div>
 
</div>
