<div class="tela4">
    <div class="container-fluid">
        <header class="row">
            <div class="col-xs-6">
                <div id="btn-menu">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </div>
            </div>
            <div class="col-xs-6 text-right">
                <div id="logo">
                    <span class="glyphicon glyphicon-picture"></span>
                </div>
            </div>
        </header>
        <nav class="row text-center menu-principal">
            <div class="col-xs-3"><img src="/js/modules/mobileapp/layouts/imagens/icones/ico-home.svg" alt="home"/><br>página inicial</div>
            <div class="col-xs-3"><img src="/js/modules/mobileapp/layouts/imagens/icones/ico-opiniao.svg" alt="sua opinião"/><br>sua opinião (legislação)</div>
            <div class="col-xs-3"><img src="/js/modules/mobileapp/layouts/imagens/icones/ico-ranking.svg" alt="ranking dos deputados"/><br>ranking dos deputados</div>
            <div class="col-xs-3"><img src="/js/modules/mobileapp/layouts/imagens/icones/ico-creditos.svg" alt="créditos do app"/><br>créditos do app</div>
        </nav>
    </div>

    <div class="container-fluid compara-deputados">
        <div class="row">
            <div class="col-xs-12 padding-vertical titulo-cinza">
                <h2><span>COMPARAÇÃO</span> DE DEPUTADOS</h2> 
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 fundo-cinza-claro padding-vertical text-center texto-maiusculo">
                <img src="/js/modules/mobileapp/layouts/imagens/fotos/01.jpg" alt="João Santana" class="borda-verde-clara img-50"/><br><br><strong>João Santana</strong><br>Pt/tO
            </div>
            <div class="col-xs-6 fundo-cinza-escuro padding-vertical text-center texto-maiusculo">
                <img src="/js/modules/mobileapp/layouts/imagens/fotos/01.jpg" alt="Juarez Dantas" class="borda-azul-clara img-50"/><br><br><strong>Juarez Dantas</strong><br>Pt/tO
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 text-center texto-grande">
                <h3 style="margin-top:-50px">X</h3>
            </div>
        </div>
       
        
        <div class="row caixa-muda-mes padding-vertical text-center">
            <div class="col-xs-12">
                <span class="glyphicon glyphicon-chevron-left"></span> JULHO/2017 <span class="glyphicon glyphicon-chevron-right"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 graficos padding-vertical text-center"><h2>Gastos</h2><canvas id="myChart"></canvas></div>
        </div>
        <div class="row margin-vertical">
            <div class="col-xs-6 text-center fundo-cinza-claro padding-vertical"><h3>Presenças no mês</h3><span class="texto-azul-claro">97%</span></div>
            <div class="col-xs-6 text-center fundo-cinza-escuro padding-vertical"><h3>Presenças no mês</h3><span class="texto-verde-claro">97%</span></div>
        </div>
        <div class="row margin-vertical">
            <div class="col-xs-6 text-center fundo-cinza-claro padding-vertical"><h3>Presenças no mês</h3><span class="texto-azul-claro">97%</span></div>
            <div class="col-xs-6 text-center fundo-cinza-escuro padding-vertical"><h3>Presenças no mês</h3><span class="texto-verde-claro">97%</span></div>
        </div>
        <div class="row margin-vertical">
            <div class="col-xs-6 text-center fundo-cinza-claro padding-vertical"><h3>Presenças no mês</h3><span class="texto-azul-claro">97%</span></div>
            <div class="col-xs-6 text-center fundo-cinza-escuro padding-vertical"><h3>Presenças no mês</h3><span class="texto-verde-claro">97%</span></div>
        </div>
        <div class="row margin-vertical">
            <div class="col-xs-6 text-center fundo-cinza-claro padding-vertical"><h3>Presenças no mês</h3><span class="texto-azul-claro">97%</span></div>
            <div class="col-xs-6 text-center fundo-cinza-escuro padding-vertical"><h3>Presenças no mês</h3><span class="texto-verde-claro">97%</span></div>
        </div>
        <div class="row margin-vertical">
            <div class="col-xs-6 text-center fundo-cinza-claro padding-vertical"><h3>Presenças no mês</h3><span class="texto-azul-claro">97%</span></div>
            <div class="col-xs-6 text-center fundo-cinza-escuro padding-vertical"><h3>Presenças no mês</h3><span class="texto-verde-claro">97%</span></div>
        </div>
        <div class="row margin-vertical">
            <div class="col-xs-6 text-center fundo-cinza-claro padding-vertical"><h3>Presenças no mês</h3><span class="texto-azul-claro">97%</span></div>
            <div class="col-xs-6 text-center fundo-cinza-escuro padding-vertical"><h3>Presenças no mês</h3><span class="texto-verde-claro">97%</span></div>
        </div>
    </div>

    <div class="container-fluid rodape">
        <div class="row">
            <div class="col-xs-6">
                <img src="/js/modules/mobileapp/layouts/imagens/logos/logo-camara.png" alt=""/>
            </div>
            <div class="col-xs-6">
                <img src="/js/modules/mobileapp/layouts/imagens/logos/logo-desafio.png" alt=""/>
            </div>
        </div>
    </div>  

</div>

<script>
    Chart.defaults.global.defaultFontColor = 'white';
    Chart.defaults.global.defaultFontFamily = 'Open Sans';
    Chart.defaults.global.defaultFontSize = 10;
    Chart.defaults.global.defaultFontStyle = 'bolder';
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
        type: 'pie',
        data: {
            labels: ["FABRICIO DANTAS", "BRUNO DA COSTA"],
            datasets: [{
                    data: [60, 40],
                    backgroundColor: [
                        '#0FB7EB',
                        '#3DB549'
                    ],
                    borderColor: [
                        'white',
                        'white'
                    ],
                    borderWidth: 1
                }]
        },
    });
</script>