<div class="tela4">
    <div class="container-fluid">
        <header class="row">
            <div class="col-xs-6">
                <div id="btn-menu">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </div>
            </div>
            <div class="col-xs-6 text-right">
                <div id="logo">
                    <span class="glyphicon glyphicon-picture"></span>
                </div>
            </div>
        </header>

        <nav class="row text-center menu-principal">
            <div class="col-xs-3"><img src="/js/modules/mobileapp/layouts/imagens/icones/ico-home.svg" alt="home"/><br>página inicial</div>
            <div class="col-xs-3"><img src="/js/modules/mobileapp/layouts/imagens/icones/ico-opiniao.svg" alt="sua opinião"/><br>sua opinião (legislação)</div>
            <div class="col-xs-3"><img src="/js/modules/mobileapp/layouts/imagens/icones/ico-ranking.svg" alt="ranking dos deputados"/><br>ranking dos deputados</div>
            <div class="col-xs-3"><img src="/js/modules/mobileapp/layouts/imagens/icones/ico-creditos.svg" alt="créditos do app"/><br>créditos do app</div>
        </nav>

    </div>

    <div class="container-fluid">
        <div class="row conteudo-compara-titulo">
            <div class="col-xs-12">
                <h2><span>COMPARAÇÃO</span> DE DEPUTADOS</h2> 
            </div>
        </div>
    </div>

    <div class="tabela-compara">
        <table>
            <tr>
                <td><img src="/js/modules/mobileapp/layouts/imagens/fotos/01.jpg" alt=""/><br><strong>João Santana</strong><br>Pt/tO</td>
                <td><img src="/js/modules/mobileapp/layouts/imagens/fotos/01.jpg" alt=""/><br><strong>João Santana</strong><br>Pt/tO</td>
            </tr>
            <div class="x">x</div>
            <tr>
                <td colspan="2" class="muda-mes"><span class="glyphicon glyphicon-chevron-left"></span> JULHO/2017 <span class="glyphicon glyphicon-chevron-right"></td>
            </tr>
            <tr>
                <td><p><strong>Presenças no mês</strong></p><span class="dep1">97%</span></td>
                <td><p><strong>Presenças no mês</strong></p><span class="dep2">57%</span></td>
            </tr>
        </table>
    </div>

    <div class="container-fluid rodape">
        <div class="row">
            <div class="col-xs-6">
                <img src="/js/modules/mobileapp/layouts/imagens/logos/logo-camara.png" alt=""/>
            </div>
            <div class="col-xs-6">
                <img src="/js/modules/mobileapp/layouts/imagens/logos/logo-desafio.png" alt=""/>
            </div>
        </div>
    </div>    
</div>