<div class="tela4">
    
    <div class="container-fluid creditos">
        <div class="row">
            <div class="col-xs-12 padding-vertical titulo-verde">
                <h2><span>CRÉDITOS</span> DO APP</h2> 
            </div>
        </div>
        <div class="row ">
            <div class="col-xs-12">
                <p class="padding-vertical">O principal objetivo desse aplicativo é expor à sociedade os dados que atualmente encontram-se disponibilizados através do site DADOS ABERTOS da  *</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 padding-vertical titulo-verde">
                <h2 class="texto-medio line-height"><span>VERSÃO</span> DO APP</h2> 
            </div>
        </div>
        <div class="row texto-explicativo padding-vertical fundo-cinza-claro">
            <div class="col-xs-12">
                <p>1.0</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 padding-vertical titulo-verde">
                <h2 class="texto-medio line-height"><span>RESPONSÁVEIS</span> PELO APP</h2> 
            </div>
        </div>
        <div class="row texto-explicativo padding-vertical fundo-cinza-claro">
            <div class="col-xs-6 text-center">
                <h3 class="texto-verde-claro">Bruno da Costa Monteiro</h3>
                <p class="texto-verde-escuro texto-pequeno">Desenvolvedor</p>
            </div>
            <div class="col-xs-6 text-center">
                <h3 class="texto-verde-claro">Fabrício Lopes Dantas</h3>
                <p class="texto-verde-escuro texto-pequeno">Designer/Editor</p>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 padding-vertical titulo-verde">
                <h2 class="texto-medio line-height"><span>E-MAIL</span> PARA CONTATO</h2> 
            </div>
        </div>
        <div class="row texto-explicativo padding-vertical fundo-cinza-claro">
            <div class="col-xs-12">
                <p>projetoedo@gmail.com</p>
            </div>
            <br><br><br>
        </div>
        
    </div>
    
    
</div>