<div class="tela2">
    <div class="container-fluid compara-deputados">
        <div class="row">
            <div class="col-xs-12 padding-vertical titulo-azul">
                <h2><span>SUA</span> OPINIÃO</h2> 
            </div>
        </div>
        <div class="row texto-explicativo padding-vertical fundo-cinza-claro">
            <div class="col-xs-12">
                <p>Um dos grandes pleitos dos cidadãos é a de comparar suas idéias com as idéias dos políticos que os representa. Dê sua opinião no temas abaixo (CLICANDO NAS OPÇÕES A FAVOR / CONTRA) que nosso APP irá comparar suas escolhas com as escolhas de seus deputados. Você poderá ver qual deputado(a) mais votou conforme suas convicções acessando o menu RANKING.</p>
            </div>
        </div>

        <div class="row fundo-preto filtro">
            <div class="col-xs-4">
                <p>ANO</p>
                <select name="ano" id="ano">
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                </select>
            </div>
            <div class="col-xs-8">
                <p>FILTROS</p>
                <select name="filtro" id="filtro">
                    <option value="todos">Mostrar todos</option>
                    <option value="votados">Mostrar apenas os que votei</option>
                    <option value="naoVotados">Mostrar apenas os que não votei</option>
                </select>
            </div>
        </div>

        <div class="areaDeOpniao">
            
        </div>

    </div>

</div>
