<div class="tela2">
    <div class="container-fluid compara-deputados">
        <div class="row">
            <div class="col-xs-12 padding-vertical titulo-azul">
                <h2><span>SUA</span> OPINIÃO</h2> 
            </div>
        </div>
        <div class="row texto-explicativo padding-vertical fundo-cinza-claro">
            <div class="col-xs-12">
                <p>Um dos grandes pleitos dos cidadãos é a de comparar suas idéias com as idéias dos políticos que os representa. Dê sua opinião no temas abaixo (CLICANDO NAS OPÇÕES A FAVOR / CONTRA) que nosso APP irá comparar suas escolhas com as escolhas de seus deputados. Você poderá ver qual deputado(a) mais votou conforme suas convicções acessando o menu RANKING.</p>
            </div>
        </div>

        <div class="row fundo-preto filtro">
            <div class="col-xs-12">
                <p>FILTROS</p>
                <select>
                    <option>Mostrar todos</option>
                    <option>Mostrar apenas os que votei</option>
                    <option>Mostrar apenas os que não votei</option>
                </select>
            </div>
            
            <div class="col-xs-4 margin-top-15">
                <p>ANO</p>
                <select>
                    <option>Mostrar todos dessa legislatura</option>
                    <option>2014</option>
                    <option>2015</option>
                </select>
            </div>
            <div class="col-xs-8 margin-top-15">
                <p>TIPO DE PROPOSIÇÃO</p>
                <select>
                    <option>Mostrar todos</option>
                    <option>PEC</option>
                    <option>PL</option>
                </select>
            </div>
        </div>

        <div class="row linha-zebrada text-center padding-vertical">
            <div class="col-xs-4"><h3>Lei da Maioridade Penal</h3><img src="./js/modules/mobileapp/layouts/imagens/icones/ico-mao-clique.svg" alt="clique e saiba mais" class="posicionamento-mao"/></div>
            <div class="col-xs-4"><h6>Prevê a redução da maioridade penal para 16 anos em caso de crimes graves</h6></div>
            <div class="col-xs-4"><span class="icon-ico-a-favor-1"></span><br><span class="icon-ico-contra-2"></span></div>
        </div>
        <div class="row linha-zebrada text-center padding-vertical">
            <div class="col-xs-4"><h3>Lei da Maioridade Penal</h3><img src="./js/modules/mobileapp/layouts/imagens/icones/ico-mao-clique.svg" alt="clique e saiba mais" class="posicionamento-mao"/></div>
            <div class="col-xs-4"><h6>Prevê a redução da maioridade penal para 16 anos em caso de crimes graves</h6></div>
            <div class="col-xs-4"><span class="icon-ico-a-favor-1"></span><br><span class="icon-ico-contra-2"></span></div>
        </div>
        <div class="row linha-zebrada text-center padding-vertical">
            <div class="col-xs-4"><h3>Lei da Maioridade Penal</h3><img src="./js/modules/mobileapp/layouts/imagens/icones/ico-mao-clique.svg" alt="clique e saiba mais" class="posicionamento-mao"/></div>
            <div class="col-xs-4"><h6>Prevê a redução da maioridade penal para 16 anos em caso de crimes graves</h6></div>
            <div class="col-xs-4"><span class="icon-ico-a-favor-1"></span><br><span class="icon-ico-contra-2"></span></div>
        </div>

    </div>

</div>
