<div class="tela9" > 
    <div class="container-fluid processo">
        <div class="row">
            <div class="col-xs-12 padding-vertical titulo-roxo">
                <h2><span>PROCESSO</span> LEGISLATIVO</h2> 
            </div>
        </div>
        <div class="row texto-explicativo padding-vertical fundo-cinza-claro">
            <div class="col-xs-12">
                <p>Esta tela demonstrará resumidamente o processo legislativo, ato através do qual os representantes do povo que estão no Congresso Nacional alteram ou criam leis.</p>
            </div>
        </div>
        <div class="row processo-1 padding-vertical fundo-roxo div-flex margin-vertical">
            <div class="col-xs-6 text-center"><img src="/js/modules/mobileapp/layouts/imagens/icones/ico-processo-1.svg" alt="processo legislativo" class="img-100"/></div>
            <div class="col-xs-6">
                <h3>Um projeto pode ser apresentado pelos seguintes agentes:</h3>
                <p>Deputado(a);</p>
                <p>Senador(a);</p>
                <p>Comissões (Câmara ou Senado);</p>
                <p>Presidente da República;</p>
                <p>Poder Judiciário;</p>
                <p>PGR;</p>
                <p>Iniciativa Popular.</p>
            </div>
        </div>
        <img src="/js/modules/mobileapp/layouts/imagens/icones/ico-seta-esquerda.svg" alt="processo legislativo" class="flutua-seta-esquerda"/>
        <div class="row processo-2 padding-vertical fundo-roxo-claro div-flex margin-vertical">
            <div class="col-xs-8">
                <h3>Antes de ir ao Plenário, o projeto deverá se apreciado da seguinte forma:</h3>
                <p>Pela comissão técnica (ex.: Se o assunto for IR será discutido na comissão de finanças e tributação)</p>
                <p>Pela comissão de constituição e Justiça (sempre!)</p>
            </div>
            <div class="col-xs-4"></div>
        </div>
        <img src="/js/modules/mobileapp/layouts/imagens/icones/ico-seta-direita.svg" alt="processo legislativo" class="flutua-seta-direita"/>
        <div class="row processo-3 fundo-azul-escuro div-flex margin-vertical padding-vertical">
            <div class="col-xs-6 text-center"><img src="/js/modules/mobileapp/layouts/imagens/icones/ico-presidente.svg" alt="processo legislativo" class="img-75"/></div>
            <div class="col-xs-6">
                <h3>após apreciação por parte das comissões o projeto vai ao Plenário para votação, se aprovado:</h3>
                <p>1. A Câmara o remete ao Senado;</p>
                <p>2. O Senado aprovando o remete ao Presidente da República que irá...</p>
            </div>
        </div>
        <img src="/js/modules/mobileapp/layouts/imagens/icones/ico-seta-esquerda.svg" alt="processo legislativo" class="flutua-seta-esquerda"/>
        <div class="row processo-4">
            <div class="col-xs-6 fundo-roxo text-center  padding-vertical"><img src="/js/modules/mobileapp/layouts/imagens/icones/ico-processo-ok.svg" alt="processo legislativo" class="img-75"/><h3>SANCIONAR!</h3></div>
            <div class="col-xs-6 fundo-roxo-claro text-center padding-vertical"><img src="/js/modules/mobileapp/layouts/imagens/icones/ico-processo-negado.svg" alt="processo legislativo" class="img-75"/><h3>VETAR!</h3></div>
        </div>
        <div class="row">
            <div class="col-xs-12 fundo-cinza-escuro padding-vertical">
                <p class="text-justify texto-escuro">Caso o Presidente <b>sancione,</b> o projeto passa a vigorar, caso <b>vete</b>, o projeto retorna ao Congresso e seus membros podem <b>derrubar</b> o veto presidencial ou <b>acompanhar o veto!</b></p>
            </div>
        </div>
    </div>

</div>

<div class="carregando">
    Informações de que a tela ainda não possui informações necessárias para gerar o conteúdo
</div>
