/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/07/2017, 11:08:56
    Author     : FABRICIO LOPES DANTAS
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');

html, body{min-height: 100%; margin:0; padding: 0; font-family: "Open Sans", sans-serif;}
p{margin:0;}

h2{font-family: "Open Sans Condensed"; font-weight: 700; color: white; margin:5px 0; font-size:170%;}
h3{font-family: "Open Sans"; font-weight: 700; color: #323232; margin:5px 0; font-size:90%; text-transform: uppercase; position: relative; z-index: 300}
.btn-verde{padding:7px 12px; font-family: "Open Sans Condensed", sans-serif; font-weight: 700; color:white; background-color:#469543; border:1px solid #3f7f3c; border-radius: 5px; text-transform: uppercase; font-size: 16px;}
.btn-verde:focus{background-color:#3f7f3c; border:1px solid #2d5d2b;}
.btn-azul-escuro{padding:7px 12px; font-family: "Open Sans Condensed", sans-serif; font-weight: 700; color:white; background-color:#07546B; border:1px solid #143454; border-radius: 5px; text-transform: uppercase; font-size: 16px}
.btn-azul-escuro:focus{background-color:#133454; border:1px solid #071c31;}
.ver-mais-azul{background-color:#07546B; text-transform: uppercase; color:white; font-family: "Open Sans", sans-serif; font-weight: 800; padding:15px; text-align: center;}
.ver-mais-roxo{background-color:#601b58; text-transform: uppercase; color:white; font-family: "Open Sans", sans-serif; font-weight: 800; padding:15px; text-align: center;}

/*CLASSES GENÉRICAS*/
.img-100{width:100%;}

.icon-ico-a-favor-1, .icon-ico-contra-2{color:#b3b3b3; font-size:56px;}
.icon-ico-a-favor-1:hover{color:#8AC53F;}
.icon-ico-contra-2:hover{color:#ED1F24;}

.caixa-muda-mes{background-color:#333; color:white; font-family: "Open Sans Condensed", sans-serif; font-weight: 700; text-transform: uppercase; font-size:150%;}
.caixa-muda-mes span{margin: 0 10px;}
.caixa-muda-mes span:hover{color:#5AB946;}

.borda-verde-clara{border: 5px solid #5AB946;}
.borda-azul-clara{border: 5px solid #0FB7EB;}
.borda-roxa-clara{border: 5px solid #C449B2;}

.texto-maiusculo{text-transform: uppercase;}
.texto-azul-escuro{color:#184071; font-family: "Open Sans Condensed", sans-serif; font-size:180%; font-weight: 700;}
.texto-azul-claro{color:#0FB7EB; font-family: "Open Sans Condensed", sans-serif; font-size:180%; font-weight: 700;}
.texto-verde-escuro{color:#2B6230; font-family: "Open Sans Condensed", sans-serif; font-size:180%; font-weight: 700;}
.texto-verde-claro{color:#5AB946; font-family: "Open Sans Condensed", sans-serif; font-size:180%; font-weight: 700;}
.texto-branco{color:#fff; font-family: "Open Sans Condensed", sans-serif; font-size:90%; font-weight: 700;}
.texto-explicativo{color:#111; font-size:12px; text-align: justify;}
.texto-pequeno{font-size:80%;}

.fundo-cinza-claro{background-color:#f5f5f5;}
.fundo-cinza-escuro{background-color:#dfdfdf;}
.fundo-preto{background-color:#333;}

.graficos{background-color:#111;}

.filtro{padding-top:15px; padding-bottom: 30px;}
.filtro p{color:white; text-transform: uppercase; font-weight: bolder;}
.filtro select{width:100%;}

.linha-zebrada{display: flex; align-items: center; background:#f5f5f5;}
.linha-zebrada:nth-child(2n+1){background-color:#dfdfdf;}

.titulo-cinza{background-color:#333;}
.titulo-cinza h2 span{color:#ccc;}
.titulo-azul{background-color:#07546B}
.titulo-azul h2 span{color:#0FB7EB}
.titulo-roxo{background-color:#601B58;}
.titulo-roxo h2 span{color:#C449B2;}
.titulo-verde{background-color:#2B6230;}
.titulo-verde h2 span{color:#8AC53F;}

.padding-vertical{padding-top:15px; padding-bottom: 15px;}
.margin-vertical{margin-top:10px; margin-bottom: 10px;}
/*FIM DE CLASSES GENÉRICAS*/

/*TELAS*/
/*FIM DE TELAS*/

/*BARRA DE NAVEGAÇÃO - MENU*/
header{background-color:#5ab946; padding-top:15px; padding-bottom: 15px; display: flex; align-items: center;}
header #btn-menu{position:relative; width:60px; height: 60px; background-color:white; display: flex; align-items: center; justify-content: center; border-radius: 50%; margin-bottom: -20px; z-index: 400;}
header #btn-menu span{font-size: 30px; color:#5ab946;}
header #logo{font-size: 30px; color:#9ae588;}
/*FIM DA BARRA DE NAVEGAÇÃO - MENU*/ 

/*MENU PRINCIPAL*/
nav.menu-principal{display:none; background-color:rgba(0,0,0,0.9); padding:30px 0; font-size:10px; color:white; text-transform: uppercase; font-weight: bold; position: absolute; z-index: 300; width:100%;}
/*FIM DO MENU PRINCIPAL*/

div.conteudo-conheca-titulo{background-color:#323232; margin-top:15px;}
div.conteudo-conheca-titulo h2 span{color:#8cc061;}
div.filtros-conheca{background-color:#4d4d4d; padding-top:15px; padding-bottom: 15px; display: flex; align-items: center;  background-image:url(/js/modules/mobileapp/layouts/imagens/background/background-filtro.svg); background-repeat: no-repeat; background-position: center right; background-size:30%;}
div.filtros-conheca .option{color:white; font-size:14px; text-transform: uppercase; line-height: 2.1em; margin-top:10px;}
div.filtros-conheca .option .text-option{font-size:11px; float: left; display: block; margin-top: -4px; margin-left:4px;}
div.filtros-conheca input,select{padding:5px; font-size:12px; font-family: "Open Sans", sans-serif; border:1px solid #dfdfdf;}
div.filtros-conheca input[type=text]{width:100%; background-image:url(/js/modules/mobileapp/layouts/imagens/icones/ico-lupa.svg); background-repeat: no-repeat; background-position: center right;}
div.filtros-conheca input[type=radio]{color:white; border:none; background-color:white; width:15px; height: 15px; float: left;}
div.filtros-conheca select{width:50%; margin-top:10px; font-size:12px; float: left;}

div.lista-deputados{background-color:#e6e6e6; padding-top:15px; padding-bottom: 15px; height:210px; position: relative; width:100%; overflow: hidden; background-image:url(/js/modules/mobileapp/layouts/imagens/background/background-dedo.svg); background-repeat: no-repeat; background-position: bottom center; background-size: contain; }
div.lista-deputados .div-interna{width:800px; position:relative; overflow: hidden; display:block;}
div.lista-deputados .box-deputado{font-family: "Open Sans Condensed", sans-serif; font-weight: bold; text-transform: uppercase; width:10%; text-align: center; float:left; margin-left:10px; margin-right:10px;}
div.lista-deputados .box-deputado img{border:2px solid #dfdfdf; padding:3px; background-color:white; width:100%;}
div.lista-deputados .box-deputado h3{font-size:12px; font-weight: bold; margin-top:5px; margin-bottom:2px;}
div.lista-deputados .box-deputado h4{font-size:10px; font-weight: bold; color:#666; margin-top:2px; margin-bottom:0;}

div.informativo-deputado{background-color:#1d1d1d; padding-top:15px; padding-bottom:15px; text-align: center; font-family: "Open Sans Condensed", sans-serif; color:white; font-size:12px; font-style: italic;}
div.informativo-deputado .text-verde{color:#90C73E;}

div.conteudo-opine-titulo{background-color:#184071; margin-top:15px;}
div.conteudo-opine-titulo h2 span{color:#77b2e0;}
div.texto-opine{padding:15px; color:white; font-family:"Open Sans Condensed"; font-size:12px; background:#599fd6; text-align:center;}
div.texto-opine p{text-align: justify;}

div.rodape{display: flex; align-items: center; background:blue; margin-top:20px; background-image: linear-gradient(135deg, #8ac53f 10%, #469543 100%); padding:15px;}
div.rodape img{width:100%;}

@media screen and (max-width: 767px) {

}

@media (min-width: 768px) and (max-width:991px) {


}

@media (min-width: 992px) and (max-width:1199px) {

}

@media (min-width: 1200px) {

}